In [55]:
from sql4pandas.SQLiteLexer import SQLiteLexer
from sql4pandas.SQLiteListener import SQLiteListener
from sql4pandas.SQLiteParser import SQLiteParser
import antlr4
import pandas as pd
import numpy as np
import sys

In [187]:
class SQL4PandasCompiler(SQLiteListener):
    def __init__(self, statement):
        lexer = SQLiteLexer(antlr4.InputStream(statement))
        stream = antlr4.CommonTokenStream(lexer)
        parser = SQLiteParser(stream)
        tree = parser.parse()
        walker = antlr4.ParseTreeWalker()
        walker.walk(self, tree)
        self.operations = []
        
    # Enter a parse tree produced by SQLiteParser#parse.
    def enterParse(self, ctx):
#         print dir(ctx)
        print ctx.sql_stmt_list()
        pass

    # Exit a parse tree produced by SQLiteParser#parse.
    def exitParse(self, ctx):
        pass

    def enterSelect_core(self, ctx):
#         print dir(ctx)
#         print ctx.getText()
        print '*****'
        print ctx.toStringTree()
    
    def enterExpr(self, ctx):
#         print dir(ctx.parentCtx)
        print ctx.getText()       
        print ctx.table_name().getText() if ctx.table_name() is not None else None

#         print dir(ctx)
        if ctx.function_name() is not None:
#             print dir(ctx)
#             print ctx.function_name().getText()
            pass


    # Enter a parse tree produced by SQLiteParser#result_column.
    def enterResult_column(self, ctx):
#         print ctx.getText()
#         print ctx.expr()
#         print ctx.column_alias()
#         print ctx.table_name()
        print ctx.table_name()
#         self.operations.append(lambda db: )

    # Exit a parse tree produced by SQLiteParser#result_column.
    def exitResult_column(self, ctx):
        pass
    
    def execute(self, db):
        # db denoted as a multi-dimensional dataframe OR dictionary of dataframes
        return reduce(lambda ret, op: op(ret), self.operations, db)

    
TEST_STMT = """
    SELECT SUM(a) as test, tbl1.b, c FROM tbl1 WHERE tbl1.d = 5
"""

tbl1 = pd.DataFrame(np.random.randn(1000, 5) * 50,
                    columns=['a', 'b', 'c', 'd', 'e'])
tbl1['f'] = 'five'
tbl2 = tbl1.copy()

db = {'tbl1': tbl1, 'tbl2': tbl2}

compiler = SQL4PandasCompiler(TEST_STMT)

ANTLR runtime and generated code versions disagree: 4.6!=4.5.3
ANTLR runtime and generated code versions disagree: 4.6!=4.5.3
[<sql4pandas.SQLiteParser.Sql_stmt_listContext object at 0x09CF9590>]
*****
([641 225 182 164] SELECT ([1576 641 225 182 164] ([1473 1576 641 225 182 164] ([1130 1473 1576 641 225 182 164] ([1690 1130 1473 1576 641 225 182 164] SUM)) ( ([1135 1473 1576 641 225 182 164] ([1126 1135 1473 1576 641 225 182 164] ([1700 1126 1135 1473 1576 641 225 182 164] a))) )) as ([1477 1576 641 225 182 164] test)) , ([1578 641 225 182 164] ([1473 1578 641 225 182 164] ([1121 1473 1578 641 225 182 164] ([1694 1121 1473 1578 641 225 182 164] tbl1)) . ([1126 1473 1578 641 225 182 164] ([1700 1126 1473 1578 641 225 182 164] b)))) , ([1578 641 225 182 164] ([1473 1578 641 225 182 164] ([1126 1473 1578 641 225 182 164] ([1700 1126 1473 1578 641 225 182 164] c)))) FROM ([1585 641 225 182 164] ([1487 1585 641 225 182 164] ([1694 1487 1585 641 225 182 164] tbl1))) WHERE ([1599 641 225 182 164] ([78 1599 641 225 182 164] ([1121 78 1599 641 225 182 164] ([1694 1121 78 1599 641 225 182 164] tbl1)) . ([1126 78 1599 641 225 182 164] ([1700 1126 78 1599 641 225 182 164] d))) = ([1221 1599 641 225 182 164] ([1114 1221 1599 641 225 182 164] 5))))
None
SUM(a)
None
a
None
None
tbl1.b
tbl1
None
c
None
tbl1.d=5
None
tbl1.d
tbl1
5
None